---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData, headerDataEN, footerDataEN } from '~/navigation';
import { getLanguageFromURL } from '~/utils/i18n';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const currentLang = getLanguageFromURL(Astro.url.pathname);
const headerNav = currentLang === 'en' ? headerDataEN : headerData;
const footerNav = currentLang === 'en' ? footerDataEN : footerData;
---

<Layout metadata={metadata}>
  <slot name="announcement" />
  <slot name="header">
    <Header {...headerNav} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerNav} />
  </slot>
</Layout>
